body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

.rat {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 250px; height: auto;
}

.project-box {
  margin: 20px;
  margin-bottom: 50px;
  border-width: 2px;
  border-style: double;
  border-color: #b3ffff;
  padding: 10px;
  background-color: #f2f2f2;
}

.projects {
  text-decoration-color: #b3ffff;
}

.about {
  margin: 20px;
  line-height: 1.5;
}

.background {
  margin: 20px;
  margin-top:
  line-height: 1.5
}
